In [ ]:
# Data Science Tools and Ecosystem

In [ ]:
#This notebook provides an overview of Data Science tools and their ecosystem

In [ ]:
#Welcome to the word of data science with indepth details of learning

In [2]:
#Some of the popular languages that Data Scientists use are:
#1. Python
#2. R
#3. SQL

In [4]:
#Some of the commonly used libraries by Data Scientists include:
#1. Pandas
#2. NumPy
#3. Scikit-learn
#4. TensorFlow
#5. ggplot2

In [ ]:
#Data science tools            
#Jupyter Notebook
#RStudio
#TensorFlow

In [ ]:
#Below are some examples of arithmetic expressions in Python.

In [6]:
result = (3*2)+5
print(result)

11

In [8]:
minutes=200
hours=200/60
print(hours)

3.3333333333333335

In [ ]:
#Objectives:
#- Understand popular data science tools
#- Learn common data science libraries
#- Perform basic arithmetic operations in Python

In [ ]:
#**Author:** John Doe

In [ ]:
#This is the samplecode to update the code in git-hub

In [ ]:
# This is a test program##